body {
    background: url(../img/tiangong.jpg);
    background-size: cover;
}



/* 登陆组件 */
.form{background: rgba(255,255,255,0.3);width:400px;margin:160px auto;}
.fa{display: inline-block;top: 27px;left: 6px;position: relative;color: #ccc;}
input[type="text"],input[type="password"]{padding-left:26px;}
.checkbox{padding-left:21px;}
.form-title{
    padding-left: 50px;
}
